
/* Wrapper: Positions the card relative to sidebar */
.content-wrapper {
  margin-left: var(--sidebar-width, 70px); /* dynamically reacts to sidebar */
  padding: 10px;
  min-height: 100vh;
  width: calc(100vw - var(--sidebar-width, 70px));
  background: #ebebeb;
  transition: margin-left 0.3s ease;
}

/* FULL SIZE CARD */
.content-card {
  background: #ffffff;
  width: 100%;
  min-height: calc(100vh - 20px);  /* 100% height minus padding */
  
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border: 1px solid #cacaca;
  transition: all 0.3s ease;

  display: flex;
  flex-direction: column;
}




/* 
.content-wrapper {
  margin-left: var(--sidebar-width, 70px);
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  background: #e0e0e0;
  transition: margin-left 0.3s ease;
}


.content-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;              
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);  
  border: 1px solid #dcdcdc;    
  transition: all 0.3s ease;
}
 */
